@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Dégradé personnalisé pour Sonner */
.sonner-gradient {
  background: linear-gradient(90deg, #2563eb, #60a5fa) !important;
  color: #fff !important;
  font-weight: bold !important;
}

[data-sonner-toast][data-type="success"] {
  background: linear-gradient(90deg, #16a34a, #4ade80) !important; /* vert foncé → vert clair */
  color: white !important;
  font-weight: bold !important;
}

[data-sonner-toast][data-type="error"] {
  background: linear-gradient(90deg, #dc2626, #f87171) !important;
  color: white !important;
}

[data-sonner-toast][data-type="warning"] {
  background: linear-gradient(90deg, #d97706, #f59e42) !important;
  color: white !important;
}


